<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose some fun things!</title>
  </head>
  <body>
  <ul>

  </ul>

    <form  action="/" method="post">
      <p>Hotels: </p><select name="hotel">
        {% for hotel in hotels %}
        <option value ={{hotel.id}}>{{hotel.name}}</option>
        {% endfor %}
      </select>
      <p>Restaurants: </p><select name="restaurant">
        {% for restaurant in restaurants %}
        <option value ={{restaurant.id}}>{{restaurant.name}}</option>
        {% endfor %}
      </select>
      <p>Activities: </p><select name="activity">
        {% for activity in activities %}
        <option value ={{activity.id}}>{{activity.name}}</option>
        {% endfor %}
      </select>
    </form>


  </body>
</html>
